<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	{{ partial "head.html" . }}
	<body class="single">
		{{ partial "header.html" . }}
		<main id="main">
			<section id="breadcrumbs" class="breadcrumbs">
				<div class="container">
					<ol>
						<li><a href="{{ .Site.BaseURL }}">Home</a></li>
						<li>{{ .Title }}</li>
					</ol>
					<h2>{{ .Title }}</h2>
				</div>
			</section>
			<section class="inner-page">
				<div class="container">
					<p>
						{{ .Content }}
					</p>
				</div>
			</section>
		</main>
		{{ partial "footer.html" . }}
	</body>
</html>