<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>About drasyl</h2>
    </div>
    <div class="row content">
      <div class="col-lg-6">
        <p>
          drasyl enables quick and easy development of high-performance distributed applications.
          Driven by a secure and low-latency overlay network protocol, drasyl provides any-to-any connectivity between all Internet-enabled devices.
        </p>
        <p>
          To prevent developers from reinventing the wheel, drasyl provides extensions that address common challenges for distributed systems like identity/key management, resource discovery, and locality-aware message routing.
          By using drasyl, developers are unburdened of many usual tasks and can proceed directly with building their distributed application.
        </p>
        <a href="https://docs.drasyl.org/" class="btn-learn-more">Learn More</a>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <ul>
          <li><i class="bi bi-check2-all"></i> Any-to-any connectivity between all Internet-enabled devices.</li>
          <li><i class="bi bi-check2-all"></i> Locality-aware message routing.</li>
          <li><i class="bi bi-check2-all"></i> Middlebox traversal (like firewalls or network address translators).</li>
          <li><i class="bi bi-check2-all"></i> Driven by a secure &amp; low-latency overlay network protocol.</li>
          <li><i class="bi bi-check2-all"></i> Cryptographic identity &amp; key management.</li>
          <li><i class="bi bi-check2-all"></i> Rich set of extensions for perfect forward secrecy communication, service &amp; resource discovery, reliable transport, error control, traffic shaping, etc.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
