<!-- About Section -->
<section id="about" class="about section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>About Netsody</h2>
  </div><!-- End Section Title -->

  <div class="container">
    <div class="row gy-4">

      <!-- Left Column -->
      <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
        <p>
          Netsody is a lightweight software-defined overlay networking solution that securely links your devices across any existing network.
          It creates direct encrypted connections between devices, forming a high-performance mesh overlay that automatically adapts to available network paths and works seamlessly through barriers such as routers or firewalls.
        </p>
        <ul>
          <li><i class="bi bi-check2-circle"></i> <span>Programmable networking with customizable routing and topology.</span></li>
          <li><i class="bi bi-check2-circle"></i> <span>Mesh overlay that forms direct connections between devices.</span></li>
          <li><i class="bi bi-check2-circle"></i> <span>Zero-trust network access with end-to-end encryption.</span></li>
        </ul>
      </div>

      <!-- Right Column -->
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <p>
          No proprietary centralized network controller is required.
          The network configuration is stored in a simple text-based file that can be shared via a standard web server or through local file copies for a fully decentralized setup.
          With zero trust security, end-to-end encryption and fine-grained access control, you remain in complete control of your network.
        </p>
        <ul>
          <li><i class="bi bi-check2-circle"></i> <span>Automatic deployment and operation across any network.</span></li>
          <li><i class="bi bi-check2-circle"></i> <span>Both centralized or decentralized management possible.</span></li>
          <li><i class="bi bi-check2-circle"></i> <span>Free, open-source and completely self-hostable.</span></li>
        </ul>
        <a href="https://docs.netsody.io/" class="read-more">
          <span>Read More</span><i class="bi bi-arrow-right"></i>
        </a>
      </div>

    </div>
  </div>

</section><!-- /About Section -->