<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>About drasyl</h2>
    </div>
    <div class="row content">
      <div class="col-lg-6">
        <p>
          drasyl ([dʁazy:l]) is a lightweight, software-defined overlay networking solution built on a <a href="https://github.com/drasyl/drasyl-rs/tree/master/drasyl-p2p">fast and secure peer-to-peer protocol</a>.
        </p>
        <p>
          It enables you to seamlessly interconnect all your devices in your organization, team, or home, regardless of the network barriers commonly present between physical networks. Unlike traditional VPNs, drasyl builds direct peer-to-peer connections between all devices, creating a mesh overlay that efficiently utilizes the underlying physical network.
        </p>
        <p>
          No proprietary, centralized network controller is required, as overlay configurations can be distributed using any standard HTTP server or fully decentralized with local copies on each device. You retain full control over network membership and which devices are permitted to communicate, following a zero-trust model with all traffic end-to-end encrypted and all devices authenticated.
        </p>
        <a href="https://docs.drasyl.org/" class="btn-learn-more">Learn More</a>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <ul>
          <li><i class="bi bi-check2-all"></i> Access your personal devices from anywhere.</li>
          <li><i class="bi bi-check2-all"></i> Access restricted organizational resources from home.</li>
          <li><i class="bi bi-check2-all"></i> Link distributed teams or sites.</li>
          <li><i class="bi bi-check2-all"></i> Create ad-hoc secure networks between peers.</li>
          <li><i class="bi bi-check2-all"></i> Zero-trust model with end-to-end encryption.</li>
          <li><i class="bi bi-check2-all"></i> Open-source, easy to use, and runs on many platforms.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
