<!-- Why Us Section -->
<section id="how-it-works" class="section why-us" data-builder="section">

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-4 d-flex flex-column justify-content-center order-2 order-lg-1">

          <div class="content" data-aos="fade-up" data-aos-delay="100">
            <h3><span>How</span> <strong>drasyl</strong> <span>works</span></h3>
            <p>
              Built on a <a href="https://docs.drasyl.org/architecture/p2p-protocol">fast and secure peer-to-peer protocol</a> that achieves direct connectivity between any device, drasyl lets you <a href="https://docs.drasyl.org/architecture/network-management">create overlay networks</a> using an easy-to-use network configuration. This configuration defines authorized devices, access policies and network routes. It is created by the network admin, distributed as a file or via HTTP, and <a href="https://docs.drasyl.org/architecture/agent">used by each device</a> to autonomously build and maintain the overlay network across physical networks and firewalls.
            </p>
          </div>

        </div>

        <div class="col-lg-8 order-1 order-lg-2 why-us-img">
          <img src="https://docs.drasyl.org/img/network-management.svg" class="img-fluid" alt="drasyl architecture diagram" data-aos="zoom-in" data-aos-delay="100">
        </div>
      </div>

    </div>

  </section><!-- /Why Us Section -->