<footer id="footer">
  <div class="footer-top"{{ if ne (relURL .Permalink) ("/" | safeHTML) }} style="background: #f3f3f3"{{ end }}>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="https://github.com/drasyl/drasyl-rs/">GitHub Repository</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="https://hub.docker.com/r/drasyl/drasyl">Docker Images</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="https://status.drasyl.org/">Statuspage</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6">
        </div>
        <div class="col-lg-4 col-md-12">
          <h4>Follow Us</h4>
          <p>Join our community and stay updated with the latest drasyl developments</p>
          <div class="social-links d-flex">
            <a href="/discord"><i class="bi bi-discord"></i></a>
            <a href="https://mastodon.world/@drasyl" rel="me"><i class="bi bi-mastodon"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; 2020-{{ now.Year }}
      <strong><span>Heiko Bornholdt and Kevin Röbert</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
    </div>
  </div>
</footer>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<!-- Vendor JS Files -->
<script src="{{ "vendor/aos/aos.js" | relURL }}"></script>
<script src="{{ "vendor/bootstrap/js/bootstrap.bundle.min.js" | relURL }}"></script>
<!-- <script src="{{ "vendor/glightbox/js/glightbox.min.js" | relURL }}"></script> -->
<!-- <script src="{{ "vendor/isotope-layout/isotope.pkgd.min.js" | relURL }}"></script> -->
<!-- <script src="{{ "vendor/swiper/swiper-bundle.min.js" | relURL }}"></script> -->
<!-- <script src="{{ "vendor/waypoints/noframework.waypoints.js" | relURL }}"></script> -->
<!-- <script src="{{ "vendor/php-email-form/validate.js" | relURL }}"></script> -->
<script src="{{ "vendor/particles/particles.min.js" | relURL }}"></script>
<!-- Template Main JS File -->
{{ $script := resources.Get "js/main.js" }}
<script src="{{ ($script | minify | fingerprint).RelPermalink}}"></script>
{{ $script2 := resources.Get "js/particles.js" }}
<script src="{{ ($script2 | minify | fingerprint).RelPermalink}}"></script>
