<footer id="footer" class="footer dark-background">
  <div class="container footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="https://github.com/drasyl/drasyl-rs/">GitHub Repository</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="https://hub.docker.com/r/drasyl/drasyl">Docker Images</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="https://status.drasyl.org/">Statuspage</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Legal</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/imprint">Imprint</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6">
        </div>
        <div class="col-lg-3 col-md-12">
          <h4>Follow Us</h4>
          <p>Join our community and stay updated with the latest drasyl developments</p>
          <div class="social-links d-flex">
            <a href="/discord"><i class="bi bi-discord"></i></a>
            <a href="https://mastodon.world/@drasyl" rel="me"><i class="bi bi-mastodon"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>&copy; 2020-{{ now.Year }} <strong class="px-1 sitename">Heiko Bornholdt and Kevin Röbert</strong> <span>All Rights Reserved.</span></p>
  </div>

</footer>
