<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>{{ if ne .Title .Site.Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
  <meta content="Netsody provides secure, software-defined overlay networks, connecting all your devices" name="description">
  <meta content="" name="keywords">
  <meta name="theme-color" content="#005e54">
  <meta name="author" content="Heiko Bornholdt and Kevin Röbert" />
  {{ template "_internal/opengraph.html" . }}
  <!-- Favicons -->
  <link href="{{ "img/favicon.png" | relURL }}" rel="icon">
  <link href="{{ "img/logo192.png" | relURL }}" rel="apple-touch-icon">
  <link rel="mask-icon" href="{{ "img/favicon.png" | relURL }}" color="#005e54">
  <link href="{{ "manifest.json" | relURL }}" rel="manifest">
  <!-- Vendor CSS Files -->
  <link href="{{ "vendor/aos/aos.css" | relURL }}" rel="stylesheet">
  <link href="{{ "vendor/bootstrap/css/bootstrap.min.css" | relURL }}" rel="stylesheet">
  <link href="{{ "vendor/bootstrap-icons/bootstrap-icons.css" | relURL }}" rel="stylesheet">
  <link href="{{ "vendor/boxicons/css/boxicons.min.css" | relURL }}" rel="stylesheet">
  <!-- <link href="{{ "vendor/glightbox/css/glightbox.min.css" | relURL }}" rel="stylesheet"> -->
  <!-- <link href="{{ "vendor/remixicon/remixicon.css" | relURL }}" rel="stylesheet"> -->
  <!-- <link href="{{ "vendor/swiper/swiper-bundle.min.css" | relURL }}" rel="stylesheet"> -->
  <!-- Template Main CSS File -->
  {{ $style := resources.Get "scss/main.scss" }}
  <link href="{{ ($style | css.Sass | minify | fingerprint).RelPermalink }}" rel="stylesheet">
  <!-- =======================================================
  * Template Name: Arsha - v4.7.0
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <link href="{{ "/blog/index.xml" | absURL }}" type="application/rss+xml" title="Netsody Blog" rel="alternate">
</head>