<header id="header" class="header d-flex align-items-center {{ if .IsHome }}fixed-top{{ else }}sticky-top{{ end }}">
  <div class="container-fluid container-xl position-relative d-flex align-items-center">

    <a href="index.html" class="logo d-flex align-items-center me-auto">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.webp" alt=""> -->
      <img src="{{ "img/Netsody.svg" | relURL }}" alt="Netsody" class="img-fluid">
<!--      <h1 class="sitename">Arsha</h1>-->
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="{{ .Site.BaseURL }}">Home</a></li>
        <li><a href="{{ .Site.BaseURL }}#about">About</a></li>
        <!-- <li><a href="{{ .Site.BaseURL }}#how-it-works">How it Works</a></li> -->
        <li><a href="{{ .Site.BaseURL }}#use-cases">Use Cases</a></li>
        <!-- <li><a href="{{ .Site.BaseURL }}#in-action">In Action</a></li> -->
        <li><a href="{{ .Site.BaseURL }}#publications">Publications</a></li>
        <li><a href="{{ .Site.BaseURL }}#team">Team</a></li>
        <li><a href="{{ ("/blog" | safeHTML) }}">Blog</a></li>
<!--        <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>-->
<!--          <ul>-->
<!--            <li><a href="#">Dropdown 1</a></li>-->
<!--            <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>-->
<!--              <ul>-->
<!--                <li><a href="#">Deep Dropdown 1</a></li>-->
<!--                <li><a href="#">Deep Dropdown 2</a></li>-->
<!--                <li><a href="#">Deep Dropdown 3</a></li>-->
<!--                <li><a href="#">Deep Dropdown 4</a></li>-->
<!--                <li><a href="#">Deep Dropdown 5</a></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li><a href="#">Dropdown 2</a></li>-->
<!--            <li><a href="#">Dropdown 3</a></li>-->
<!--            <li><a href="#">Dropdown 4</a></li>-->
<!--          </ul>-->
<!--        </li>-->
<!--        <li><a href="#contact">Contact</a></li>-->
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <a class="btn-getstarted" href="https://docs.drasyl.org/get-started/">Get Started</a>

  </div>
</header>