<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row unselectable">
      <div class="col-lg-7 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
        <h1>drasyl is a high-performance framework for rapid development of distributed applications</h1>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="https://docs.java.drasyl.org/getting-started/" class="btn-get-started">Get Started</a>
          <!--<a href="https://drasyl.network" class="btn-watch-video">
            <i class="bx bx-compass"></i>
            Explore Network
          </a>-->
        </div>
      </div>
      <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
        <img src="{{ "img/hero-img.png" | relURL }}" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>
</section>
