<!-- Hero Section -->
<section id="hero" class="hero section dark-background">

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-7 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="zoom-out">
        <h1>Securely Access and Control Your Devices From Anywhere</h1>
        <p>
          Netsody links all your devices into one programmable high-performance mesh network across any location or network.
          You control network access and behavior from a simple centralized interface while Netsody sets up and manages your network in the background.
        </p>
        <div class="d-flex">
          <a href="https://docs.drasyl.org/get-started/" class="btn-get-started">Get Started</a>
          <!-- <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a> -->
        </div>
      </div>
      <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="{{ "img/hero-img.png" | relURL }}" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section><!-- /Hero Section -->