<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Projects</h2>
      <p>
        drasyl is used in a number of research projects, where it is in charge of secure and pervasive communication.
      </p>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
            <div class="icon"><i class="bx bxs-cog"></i></div>
            <h4><a href="https://www.bwl.uni-mannheim.de/becker/forschung/tasklets/">Tasklets</a></h4>
            <p>
              Distributed best-effort computation offloading in heterogeneous environments.
            </p>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
            <div class="icon"><i class="bx bxs-business"></i></div>
            <h4><a href="https://sane.city">Smart Networks for Urban Participation</a></h4>
            <p>
              Open, citizen-centric, scalable, and privacy-preserving smart city platform.
            </p>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
            <div class="icon"><i class="bx bxs-search-alt-2"></i></div>
            <h4>Attribute-Based SkipNet</h4>
            <p>
              Enhanced SkipNet overlay supporting attributed-based search and range queries.
            </p>
        </div>
      </div>
    </div>
  </section>