<section id="cta" class="cta">
  <div class="container" data-aos="zoom-in">
    <div class="row">
      <div class="col-lg-12 text-center text-lg-start">
        <h3>Publications</h3>
        <p>
          H. Bornholdt, K. Röbert and P. Kisters,
          "Accessing Smart City Services in Untrustworthy Environments via Decentralized Privacy-Preserving Overlay Networks,"
          <i>2021 IEEE International Conference on Service-Oriented System Engineering (SOSE)</i>,
          2021, pp. 144-149, doi: 10.1109/SOSE52839.2021.00021.<br />
          <a href="https://ieeexplore.ieee.org/abstract/document/9564361">https://ieeexplore.ieee.org/abstract/document/9564361</a>
        </p>
      </div>
    </div>
  </div>
</section>