
<!-- Call To Action Section -->
<section id="publications" class="call-to-action section dark-background">

  <img src="{{ "img/cta-bg.jpg" | relURL }}" alt="" style="opacity: 0.5;">

  <div class="container">
    <div class="section-title" style="padding-bottom: 20px;">
      <h2>Publications</h2>
      <p>
        drasyl has been featured in multiple academic publications.
      </p>
    </div>
    <div class="row" data-aos="zoom-in" data-aos-delay="100">
      <div class="col-lg-12">
        <div class="row gy-4">
          
          <div class="col-lg-12 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative w-100">
              <div class="icon"><i class="bi bi-file-earmark-text icon"></i></div>
              <div class="publication-content">
                <h4>Accessing Smart City Services in Untrustworthy Environments via Decentralized Privacy-Preserving Overlay Networks</h4>
                <p class="authors">H. Bornholdt, K. Röbert, and P. Kisters</p>
                <p class="conference">2021 IEEE International Conference on Service-Oriented System Engineering (SOSE), Oxford, United Kingdom</p>
                <p class="doi">DOI: <a href="https://doi.org/10.1109/SOSE52839.2021.00021">10.1109/SOSE52839.2021.00021</a></p>
              </div>
            </div>
          </div>

          <div class="col-lg-12 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative w-100">
              <div class="icon"><i class="bi bi-file-earmark-text icon"></i></div>
              <div class="publication-content">
                <h4>Low-Latency TLS-1.3-aware Hole Punching</h4>
                <p class="authors">H. Bornholdt, K. Röbert and M. Fischer</p>
                <p class="conference">ICC 2023 – IEEE International Conference on Communications, Rome, Italy</p>
              </div>
            </div>
          </div>

          <div class="col-lg-12 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative w-100">
              <div class="icon"><i class="bi bi-file-earmark-text icon"></i></div>
              <div class="publication-content">
                <h4>Measuring the Edge: A Performance Evaluation of Edge Offloading</h4>
                <p class="authors">H. Bornholdt, K. Röbert, M. Breitbach, M. Fischer and J. Edinger</p>
                <p class="conference">2023 IEEE International Conference on Pervasive Computing and Communications Workshops and other Affiliated Events (PerCom Workshops), Atlanta, USA</p>
                <p class="doi">DOI: <a href="https://doi.org/10.1109/PerComWorkshops56833.2023.10150261">10.1109/PerComWorkshops56833.2023.10150261</a></p>
              </div>
            </div>
          </div>

          <div class="col-lg-12 d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative w-100">
              <div class="icon"><i class="bi bi-file-earmark-text icon"></i></div>
              <div class="publication-content">
                <h4>Latency-Aware Scheduling for Real-Time Application Support in Edge Computing</h4>
                <p class="authors">K. Röbert, H. Bornholdt, M. Fischer and J. Edinger</p>
                <p class="conference">EdgeSys '23 – The 6th International Workshop on Edge Systems, Analytics and Networking, Rome, Italy</p>
                <p class="doi">DOI: <a href="https://doi.org/10.1145/3578354.3592866">10.1145/3578354.3592866</a></p>
              </div>
            </div>
          </div>

          <div class="col-lg-12 d-flex" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative w-100">
              <div class="icon"><i class="bi bi-file-earmark-text icon"></i></div>
              <div class="publication-content">
                <h4>A Software-Defined Overlay Networking Middleware for a Simplified Deployment of Distributed Application at the Edge</h4>
                <p class="authors">H. Bornholdt, K. Röbert, S. Schulte, J. Edinger and M. Fischer</p>
                <p class="conference">The 40th ACM/SIGAPP Symposium On Applied Computing (SAC'25), Catania, Italy</p>
                <p class="doi">DOI: <a href="https://doi.org/10.1145/3672608.3707729">10.1145/3672608.3707729</a></p>
              </div>
            </div>
          </div>

          <div class="col-lg-12 d-flex" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative w-100">
              <div class="icon"><i class="bi bi-file-earmark-text icon"></i></div>
              <div class="publication-content">
                <h4>Software-Defined Overlay Networking for the Deployment of Distributed Applications at the Edge</h4>
                <p class="authors">H. Bornholdt</p>
                <p class="conference">PhD thesis, University of Hamburg</p>
                <p class="doi">URN: <a href="https://nbn-resolving.org/urn%3Anbn%3Ade%3Agbv%3A18-ediss-124485">urn:nbn:de:gbv:18-ediss-124485</a></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

</section><!-- /Call To Action Section -->