

<!-- Team Section -->
<section id="team" class="team section light-background">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Team</h2>
    <p>drasyl is developed by researchers with over a decade of combined experience in designing and building advanced networking management solutions.</p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="team-member d-flex align-items-start">
          <div class="pic"><img src="{{ "img/team/hb.jpg" | relURL }}" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Dr. Heiko Bornholdt</h4>
            <span>Senior Research Assistant</span>
            <p></p>
            <div class="social">
              <a href="https://www.inf.uni-hamburg.de/en/inst/ab/net/team/bornholdt.html" rel="noopener"><i class="bi bi-briefcase-fill"></i></a>
              <a href="https://scholar.google.de/citations?user=yduw2dUAAAAJ&sortby=pubdate" rel="noopener"><i class="bi bi-google"></i></a>
              <a href="https://github.com/heikobornholdt" rel="noopener"><i class="bi bi-github"></i></a>
              <a href="https://www.linkedin.com/in/heiko-bornholdt/" rel="noopener"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <div class="team-member d-flex align-items-start">
          <div class="pic"><img src="{{ "img/team/kr.webp" | relURL }}" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Kevin Röbert</h4>
            <span>Research Assistant</span>
            <p></p>
            <div class="social">
              <a href="https://www.inf.uni-hamburg.de/en/inst/ab/net/team/roebert.html" rel="noopener"><i class="bi bi-briefcase-fill"></i></a>
              <a href="https://scholar.google.de/citations?user=xToIgMUAAAAJ&sortby=pubdate" rel="noopener"><i class="bi bi-google"></i></a>
              <a href="https://github.com/KevinRoebert/" rel="noopener"><i class="bi bi-github"></i></a>
              <a href="https://www.linkedin.com/in/kevin-r-200969242/" rel="noopener"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div><!-- End Team Member -->

    </div>

  </div>

</section><!-- /Team Section -->