<!-- Services Section -->
<section id="use-cases" class="services section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Use Cases</h2>
        <p>drasyl offers a wide range of use cases. Here is a selection of typical application scenarios.</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item position-relative">
                    <div class="icon"><i class="bi bi-house-door icon"></i></div>
                    <h4>Access your personal devices from anywhere</h4>
                    <p>Securely reach your home desktop, NAS, or other devices without the hassle of setting up a VPN, configuring port forwarding, or maintaining DynDNS.</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
                <div class="service-item position-relative">
                    <div class="icon"><i class="bi bi-shield-lock icon"></i></div>
                    <h4>Access restricted organizational resources from home</h4>
                    <p>Gain controlled access to internal services without opening firewall ports or exposing systems to the public Internet.</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
                <div class="service-item position-relative">
                    <div class="icon"><i class="bi bi-diagram-3 icon"></i></div>
                    <h4>Link distributed teams or sites</h4>
                    <p>Work securely across locations as if everyone were connected to the same local network.</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
                <div class="service-item position-relative">
                    <div class="icon"><i class="bi bi-people icon"></i></div>
                    <h4>Create ad-hoc secure networks between peers</h4>
                    <p>Instantly connect devices for collaboration in temporary setups like workshops, hackathons, or emergency response teams without altering existing infrastructure.</p>
                </div>
            </div><!-- End Service Item -->

        </div>

    </div>

</section><!-- /Services Section -->